
<body>
     <label><b>Name: </b> </label>
    <h2> {{ user_profile.name }} </h2>
    <label><b>Email: </b> </label>
    <h2> {{ user_profile.email }} </h2>
    <label> <b> Phone:</b> </label>
    <h2> {{ user_profile.phone }} </h2>
    <hr/>
    <br/>
    <p><b>Summary<b/></p>
    <p>{{ user_profile.summary }}</p>
    <p>Skills</p>
    <p>{{ user_profile.skills }}</p>
    <p><b>Education</b></p>
    <ul>
        <li> {{ user_profile.school }}</li>
        <li> {{ user_profile.university }}</li>


    </ul>
  
    
</body>
